
<table class = "table table-bordered table-striped">


  <tbody>
    <% @file_info.each do |info| %>

      <tr>

 <td><%= button_to "#{info[:unzipname]}", method: :post , controller: "notes", action: "show_file_data",
  params: { 'file_id' => info[:file_id] , 'filename' => info[:unzipname]}%> </td>


      </tr>

    <% end %>
  </tbody>

</table>